/* CSS Custom Properties */
/* :root {
  --white: #FFFFFF;
  --tan-1: #f6fbfb;
  --tan-2: #dde3e7;
  --tan-3: #d1dee2;
  --tan-4: #aed1d3;
  --blue: #007Ff7;
  --text-light: #968c84;
  --text-dark: #615954;
} */

*, *:before, *:after {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-4);
  padding: 2vmin;
  height: 100vh;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

/* .align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--blue);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; 
  outline: none;
}

input:focus {
  border-color: var(--blue);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--blue);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
} */

/* Other CSS */

.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 0 25px 0 25px;
}


/* Form Styles */
form {
  background-color: #FFFFFF; /* White background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  color: #333; /* Dark gray text color */
}

label {
  font-size: 18px; /* Adjust label font size */
  /* text-transform: uppercase; */
  font-weight: bold;
  padding: 5px;
}

input {
  padding: 10px;
  font-size: 16px; 
  border: 1px solid #ddd; 
  border-radius: 5px;
  color: #333; 
  background-color: #f6f6f6; 
  margin: 10px;
}

input:focus {
  border-color: #007Ff7; 
}

/* Button Styles */
button, a.button {
  padding: 10px 20px; 
  margin: 10px;
  font-size: 16px; 
  font-weight: bold;
  background-color: #007Ff7; 
  color: #FFFFFF; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

button:hover, a.button:hover {
  background-color: #005ea6; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b9b5b5;
  padding: 2vmin;
  height: 100vh;
  color: #333; 
}



.flash-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
}

.flash-card-set {
  background: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flash-card-set:hover {
  opacity: .6;
}

.flash-cards-container a {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: black;
}




/* FlashCard Styles */
.flash-card {
  width: 400px;
  height: 250px;
  perspective: 1000px;
  margin: 20px auto;
  padding: 20px; 
  background: white;
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}


.flash-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flash-card.is-flipped .flash-card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.front {
  background-color: #fff;
}

.back {
  background-color: #f0f0f0;
  transform: rotateY(180deg);
}

/* Text Styles */
h2 {
  font-size: 1.5rem;
  color: #333;
}

h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Mark as Correct Styles */
h4 {
  margin-top: 20px;
}

/* Bolder Text for Yes/No */
h4 b {
  font-weight: bold;
}

.card-info-bg:nth-child(even) {
  background-color: rgb(225, 235, 240); /* Background color for even-numbered elements */
  padding: 5px;
}

